*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyles/Project.xml
/.idea/conventionalCommit.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/gradle.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/sonarlint-state.xml
/.idea/sonarlint.xml
/.idea/studiobot.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.claude/worktrees